{% extends 'admin_base.html' %}

{% block title %}
订单收益
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h1 class="page-header">订单收益</h1>
<div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>用户</th>
                                <th>商家</th>
                                <th>骑手</th>
                                <th>订单提交时间</th>
                                <th>商家收益</th>
                                <th>骑手收益</th>
                                <th>订单id</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in inf %}
                            <tr>
                                <td>{{ i.nickname_user }}</td>
                                <td>{{ i.nickname_shop }}</td>
                                <td>{{ i.nickname_horseman }}</td>
                                <td>{{ i.submit_time }}</td>
                                <td>{{ i.money_shop }}</td>
                                <td>{{ i.money_horse }}</td>
                                <td>{{ i.id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
                </nav>
                </div>
{% endblock %}
{% block ordermoney_class %}
active
{% endblock %}