{% extends 'admin_base.html' %}

{% block title %}
商家菜品类型
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h1 class="page-header">商家菜品类型</h1>
<div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>商家</th>
                                <th>类型1</th>
                                <th>类型2</th>
                                <th>类型3</th>
                                <th>类型4</th>
                                <th>类型5</th>
                                <th>类型6</th>
                                <th>类型7</th>
                                <th>类型8</th>
                                <th>类型9</th>
                                <th>类型10</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in inf %}
                            <tr>
                                <td>{{ i.userinformation.nickname }}</td>
                                <td>{{ i.type0 }}</td>
                                <td>{{ i.type1 }}</td>
                                <td>{{ i.type2 }}</td>
                                <td>{{ i.type3 }}</td>
                                <td>{{ i.type4 }}</td>
                                <td>{{ i.type5 }}</td>
                                <td>{{ i.type6 }}</td>
                                <td>{{ i.type7 }}</td>
                                <td>{{ i.type8 }}</td>
                                <td>{{ i.type9 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
                </nav>
                </div>
{% endblock %}
{% block shoptype_class %}
active
{% endblock %}