{% extends 'base.html' %}

{% block title %}
我的关注
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/personal.css">
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<div class="personal_content">
    <div class="page-header" id="page_header">
      <h1 id="test">我的关注<small>My favorite</small></h1>
        <a href="{{ url_for('my_followed')}}" style="float: right">查看我的粉丝</a>
    </div>
    <div class="personal_info">
        <table>
            {% for j in range(follow_list|length) %}
            <tr class="personal_tr">
                <td class="personal_td">
                    <a href="{{ url_for('personal',Ino=follow_list[j][1]) }}" id="url{{ j }}" name="{{ follow_list[j][1] }}">{{ follow_list[j][0] }}</a>
                </td>
                <td class="personal_td">
                    <input type="button" value="取消关注" id="button{{ j }}" name="{{ j }}" onclick="buttonsend(this)">
                    <input type="button" value="私聊" id="but{{ j }}" name="{{ j }}" onclick="private_send(this)">
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
        </nav>
</div>
<script>
var ema="{{ email|safe }}";
function buttonsend(obj) {
        var ema2= document.getElementById("url"+obj.name).name;
        if (obj.value=="关注"){
        obj.value="取消关注";
        }
        else{
        obj.value="关注";
        }
        $.ajax({
        url : "/follow/",
        type : "POST",
        data : {
            'email': ema ,
            'follow_email': ema2 ,
        },
        success : function(result) {
            console.log(result);
            if (result)
            {
                console.log("success")

            }
        },
        error:function(msg){
            console.log("error:",msg)
        }
        })

    }
//发送POST请求跳转到指定页面
        function httpPost(URL, PARAMS) {
         var temp = document.createElement("form");
         temp.action = URL;
         temp.method = "post";
         temp.style.display = "none";

         for (var x in PARAMS) {
          var opt = document.createElement("textarea");
          opt.name = x;
          opt.value = PARAMS[x];
          temp.appendChild(opt);
         }

         document.body.appendChild(temp);
         temp.submit();

         return temp;
        }
        function private_send(obj){
        var ema2= document.getElementById("url"+obj.name).name;
        console.log(123)
         var params = {
          "user1": ema,
          "user2": ema2,
         };
         httpPost("/chatroom/private", params);
        }
    </script>
{% endblock %}