{% extends 'base.html' %}

{% block title %}
个人中心
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/personal.css">
{% endblock %}

{% block content %}
<div class="personal_content">
    <div class="page-header" id="page_header">
      <h1>个人中心<small>Personal center</small></h1>
      {% if email_2 != email %}
      {% if flag %}
      <div style="float:right"> <input type="button" class="btn btn-default" onclick="buttonsend()" id="but1" value="取消关注"> </div>
      {% else %}
      <div style="float:right"> <input type="button" class="btn btn-default" onclick="buttonsend()" id="but1" value="关注">  </div>
      {% endif %}
      {% endif %}
    </div>
    <div class="personal_info">
        <table>
            <tr class="personal_tr">
                <td class="personal_td">
                    Email address:
                </td>
                <td class="personal_td">
                    {{ personal_info[0] }}
                </td>
            </tr>
            <tr class="personal_tr">
                <td class="personal_td">
                    {% if personal_info[2] == 0 %}
                        昵称
                    {% elif personal_info[2] == 1 %}
                        店铺名称
                    {% elif personal_info[2] == 2 %}
                        骑手姓名
                    {% endif %}
                </td>
                <td class="personal_td">
                    {{ personal_info[1] }}
                </td>
            </tr>
            <tr class="personal_tr">
                <td class="personal_td">
                    注册时间：
                </td>
                <td class="personal_td">
                    {{ personal_info[3] }}
                </td>
            </tr>
            {% if personal_info[0]==email %}
            <tr class="personal_tr">
                <td class="personal_td">
                    手机号：
                </td>
                <td class="personal_td">
                    {{ personal_info[4] }}
                </td>
            </tr>
            <tr class="personal_tr">
                <td class="personal_td">
                    地址：
                </td>
                <td class="personal_td">
                    {{ personal_info[5] }}
                </td>
            </tr>
            {% endif %}
            <tr class="personal_tr">
                <td class="personal_td">
                    信息介绍：
                </td>
                <td class="personal_td">
                    {{ personal_info[6] }}
                </td>
            </tr>
            <tr class="personal_tr">
                <td class="personal_td">
                    用户类型：
                </td>
                <td class="personal_td">
                    {% if personal_info[2] == 0 %}
                        普通用户
                    {% elif personal_info[2] == 1 %}
                        商家
                    {% elif personal_info[2] == 2 %}
                        骑手
                    {% endif %}
                </td>
            </tr>
            <tr class="personal_tr">
                <td class="personal_td">
                    头像：
                </td>
                <td class="personal_td">
                    <img src="{{ personal_info[7] }}" width="400" height="400">
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    function buttonsend() {
        var ema="{{ email|safe }}";
        var ema2="{{ follow_email|safe }}";
        if (document.getElementById("but1").value=="关注"){
        alert("关注成功");
        document.getElementById("but1").value="取消关注";
        }
        else{
        document.getElementById("but1").value="关注";
        }
        $.ajax({
        url : "/follow/",
        type : "POST",
        data : {
            'email': ema ,
            'follow_email': ema2 ,
        },
        success : function(result) {
            console.log(result);
            if (result)
            {
                console.log("success")

            }
        },
        error:function(msg){
            console.log("error:",msg)
        }
        })
    }
</script>
{% endblock %}
{% block top %}
    <div class="navigation_bar">
{% endblock %}