{% extends 'base.html' %}

{% block title %}
店铺详情
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/register.css">
<link rel="stylesheet" href="/static/css/shop.css">
{% endblock %}

{% block content %}
<div class="formula_content">
    <div class="page-header" id="page_header">
        <h1>店铺详情</h1>
    </div>
    <script type="text/javascript">
        var i = 0;
        function addInput(t) {
            //使用DOM的创建元素方法
            var o = document.createElement("input");
            o.type = "button";
            o.value = "清除这个菜品";
            o.id = "button" + i++;
            o.name=t;
            o.addEventListener("click", function () {
                change(this);
            });
            var k = document.getElementById("divdiv");
            k.id = "div"+i;
            k.appendChild(o);
            o = null;//及时解除不再使用的变量引用,即将其赋值为 null;
        }
        function change(obj) {
            var r = confirm("你确定要清除这个菜品吗？");
            if(r==true){
            document.getElementById("result").value=obj.name;
            document.getElementById("form1").submit()
            }
        }
    </script>
    <form method="post" id="form1">
    <input type="hidden" name="result" id="result" value="" >
    <div class="issue_list_div">
        <ul class="issue_list_ul">
            {% for issue in ans %}
                <li class="issue_list_li">
                    <img src="{{ issue[3] }}" width="200" height="200" style="float:left" >
                    {% if flag %}
                    <div style = "float:right;" id="divdiv">
                    <script type="text/javascript">
                    addInput("{{ issue[0] }}");
                    </script>
                    </div>
                    {% endif %}
                    <div class="issue_div">
                        <div class="issue_content">
                            <h1>
                                {{ issue[0] }}
                            </h1>
                            <br/>
                            <page class="page1">
                                {{ shop_type[ issue[4]|int +1] }}
                            </page>
                            {% if issue[5] %}
                            <a href="http://127.0.0.1:5000{{ issue[5] }}" target="_blank">点击这里查看商品详情</a>
                            {% endif %}
                            <br>
                            <page class="page1">
                                {{ issue[2] }}
                            </page>
                            <br/>
                            <br/>
                            <page class="page1">
                                {{ issue[1] }}元
                            </page>
                            <br/>
                        </div>
                    </div>
                </li>
                <br/>
                <br/>
            <br/>
            {% endfor %}
        </ul>
    </div>
    </form>
</div>

{% endblock %}
{% block formula_class %}
active
{% endblock %}